/*Начало header */

.try {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 5;
  width: 1100px;
  opacity: 0.3;
  filter: sepia(0.6);
  transform: translateX(-50%);
  pointer-events: none;
}

body {
  display: flex;
  flex-direction: column;
}

.header {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 1fr;
  grid-template-areas: "menu menu menu logo . address address";
  width: calc(100% - 48px);
  height: 105px;
  margin: auto;
  margin-top: 93px;
  margin-bottom: 95px;
}

.header-menu {
  grid-area: menu;
  align-content: center;
}

.header__links-list {
  display: flex;
  flex-direction: row;
  padding-left: 10px;
}

.header__links-list-item {
  padding-left: 15px;
  color: #000;
  font-family: Raleway;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.18px;
  list-style: circle;
  list-style-position: inside;
}

.header__links-list-item a {
  margin-left: -8px;
  border-bottom: 1px solid black;
  text-decoration: none;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__links-list-item_no-bullit a {
  margin-left: 0;
  border-bottom: none;
  text-decoration: none;
}

.header__logo {
  grid-area: logo;
}

.header__link {
  display: block;
}

.header__logo-image {
  height: 105px;
}

.address {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  grid-area: address;
  justify-self: right;
  padding-top: 7px;
  padding-right: 63px;
  color: #000;
  font-family: Raleway;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 24.3px;
  letter-spacing: 0.18px;
  gap: 3px;
}

.address a {
  border-bottom: 1px solid black;
  text-decoration: none;
  width: fit-content;
  line-height: 20px;
}

.address-text {
  flex-shrink: 0;
  color: #000;
  font-family: Raleway;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 22px;
  letter-spacing: normal;
}

.address-span {
  display: block;
}

/*Конец header, начало main, секция cover*/

.cover {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 757px;
  margin-bottom: 179px;
  padding: 165px 50px 50.5px 50px;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.cover__title {
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 13px;
  color: #fff;
  font-family: Raleway;
  font-weight: 700;
  font-size: 100px;
  font-style: normal;
  line-height: 115%;
  letter-spacing: 60px;
  text-transform: uppercase;
}

.text {
  display: block;
}

.aligned-text {
  letter-spacing: 30px;
  text-align: left;
}

.aligned-text :last-child {
  padding-left: 31px;
}

.aligned-text_center {
  padding-right: 60px;
  letter-spacing: 30px;
  text-align: center;
}

.aligned-text_center :last-child {
  padding-left: 30px;
  letter-spacing: normal;
}

.aligned-text_right {
  line-height: 98px;
  letter-spacing: normal;
  text-align: right;
}

.aligned-text_right::first-letter {
  padding-right: 36px;
}

.aligned-text_right_central_part {
  letter-spacing: 30px;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: 1;
  opacity: 0.6;
  background-color: black;
  pointer-events: none;
}

.cover__description {
  z-index: 2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.cover__description-text {
  padding-left: 28px;
  color: #fff;
  font-family: Raleway;
  font-weight: 400;
  font-size: 22px;
  font-style: normal;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 20px;
}

.cover__description-text-center {
  margin-left: -3px;
}

.cover__description-text-end {
  padding-left: 22px;
  word-spacing: 19px;
}

.bet-button {
  width: 256px;
  height: 51px;
  border: 1px solid white;
  color: #fff;
  font-family: Raleway;
  font-weight: 500;
  font-size: 22px;
  font-style: normal;
  line-height: normal;
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
}

/* Закончил с cover, начал Lots */

.lots {
  display: flex;
  flex-direction: column;
  height: 692px;
  margin: 0 24px 0 24px;
  margin-bottom: 146px;
}

.lots__heading {
  padding-left: 40px;
  color: #000;
  font-family: Raleway;
  font-weight: 700;
  font-size: 40px;
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 1;
  align-items: center;
  gap: 25px;
  list-style: none;
}

.lots__card-list-item {
  position: relative;
  display: block;
  flex: 1 1 calc(33.333% - 25px);
  flex-grow: 1;
  height: 563px;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card-link {
  display: block;
  height: 100%;
  text-decoration: none;
}

.article {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 50px 40px 48px 40px;
}

.card__title {
  flex-shrink: 0;
  color: #fff;
  font-family: Raleway;
  font-weight: 700;
  font-size: 22px;
  font-style: normal;
  line-height: 120%;
  text-decoration-line: underline;
  text-transform: uppercase;
}

.card__text {
  flex-shrink: 0;
  color: #fff;
  font-family: Raleway;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  line-height: 120%;
}

.lots__look-more-link {
  display: inline-block;
  width: fit-content;
  margin-left: 40px;
  border-bottom: 1px solid black;
  color: #000;
  font-family: Raleway;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  line-height: normal;
  text-decoration: none;
}

/*закончит lots начал about*/

.about {
  display: grid;
  grid-template-columns: 240px 1fr;
  grid-template-rows: 1fr;
  gap: 72px;
  width: calc(100% - 48px);
  margin: auto;
  margin-bottom: 180px;
  padding-top: 35px;
  padding-left: 47px;
}

.about__logo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  height: 240px;
  border-radius: 50%;
  background-color: black;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__info-header {
  padding-top: 102px;
  padding-bottom: 100px;
  color: #000;
  font-family: Raleway;
  font-weight: 700;
  font-size: 40px;
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
}

.about__info-text {
  padding-bottom: 25px;
  color: #000;
  font-family: Raleway;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  line-height: 24px;
  letter-spacing: 0.1px;
}

.about__info-text-last {
  color: #000;
  font-family: Raleway;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  line-height: 24px;
}

/*Закончил about начал footer*/

.footer {
display: flex;
flex-direction: row;
width: calc(100% - 100px);
margin: auto;
justify-content: space-between;
}

.address-footer {
  padding: 0;
}

.footer-address-text {
  line-height: 23px;
}

.address a {
  line-height: 21px;
}

.footer-menu {
  text-align: center;
  font-size: 18px;
  padding-left: 35px;
}

.underline-a {
  display: inline-block;
  border-bottom: 1px solid black;
}

.social-icons {
  display: flex;
  gap: 48px;
}

.footer__links-list {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.footer__links-list-item a {
  text-decoration: none;
}

.footer-link-icons {
  display: block;
  width: 48px;
  height: 48px;
  text-decoration: none;
}


.footer-link-icons-img {
  width: 48px;
  height: 48px;
}







